/packages
/PracticeCompanyPvtLtd/obj
/PracticeCompanyPvtLtd/bin
/PracticeCompanyPvtLtd.Business/bin
/PracticeCompanyPvtLtd.Business/obj
/PracticeCompanyPvtLtd.Business.Tests/bin
/PracticeCompanyPvtLtd.Business.Tests/obj
/PracticeCompanyPvtLtd.Data/bin
/PracticeCompanyPvtLtd.Data/obj
/PracticeCompanyPvtLtd.Models/bin
/PracticeCompanyPvtLtd.Models/obj
